<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.monstar.books.adnotice.dao.AdNoticeDao">
<select id="notice" resultType="com.monstar.books.adnotice.dto.AdNoticeDto">
	SELECT NOTICENO,NTITLE,NCONTENT,NWRITER,NREGDATE,
	NFILESRC,DELETED,MEMBERNO FROM M_NOTICE ORDER BY
	 NOTICENO DESC
</select>

<select id="noticeDetail" resultType="com.monstar.books.adnotice.dto.AdNoticeDto">
	SELECT NOTICENO,NTITLE,NCONTENT,NWRITER,NREGDATE,
	NFILESRC,DELETED,MEMBERNO FROM M_NOTICE WHERE
	 NOTICENO = #{param1}
</select>

<update id="update">
	UPDATE M_NOTICE SET DELETED=#{param2}, NTITLE=#{param3}, NCONTENT=#{param4}
	 WHERE NOTICENO=#{param1}
</update>

<insert id="insert">
	INSERT INTO M_NOTICE VALUES(M_NOTICE_SEQ.NEXTVAL,#{param1},#{param2},'관리자1',
	SYSDATE,#{param3},'No',0)
</insert>

</mapper>