<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monstar.books.adorder.dao.AdOrderDao">

	<!-- 주문 목록 가져오기 -->
<select id="getOrderList"
    resultType="com.monstar.books.adorder.dto.AdOrderDto">
    SELECT
        mm.mid AS memberId,
        mm.mname AS memberName,
        mo.orderno AS orderNo,
        mod.oregdate AS orderdate,
        b.btitle AS productName,
        mod.ocount AS productCount,
        mo.ototalprice AS totalAmount,
        mo.ostatus AS orderStatus
    FROM m_order mo
    JOIN m_order_detail mod ON mo.orderno = mod.orderno
    JOIN m_book b ON mod.bookno = b.bookno
    JOIN m_member mm ON mo.memberno = mm.memberno
    ORDER BY mo.orderno DESC  <!-- 주문 번호를 기준으로 내림차순 정렬 -->
    </select>


     <select id="selectBoardTotCount1" resultType="Integer">
    SELECT COUNT(*) FROM M_BOOK WHERE BTITLE LIKE '%'|| #{param1} || '%'
	</select>

    <select id="selectBoardTotCount2" resultType="Integer">
    SELECT COUNT(*) FROM M_MEMBER WHERE MID LIKE '%'|| #{param1} || '%'
	</select>

	<!-- 둘다 검색하는거 구현안됨 -->
    <select id="selectBoardTotCount3" resultType="Integer">
    SELECT (
        (SELECT COUNT(*) FROM M_BOOK WHERE BTITLE LIKE '%'|| #{param1} || '%') +
        (SELECT COUNT(*) FROM M_MEMBER WHERE MID LIKE '%'|| #{param1} || '%')
    ) AS TOTAL_COUNT
	</select>

    <select id="selectBoardTotCount4" resultType="Integer">
    SELECT COUNT(*) FROM M_ORDER
	</select>
	

</mapper>