<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!-- 230828 / 진성 추가 -->
<mapper namespace="com.monstar.books.cart.dao.CartDao">

	<resultMap type="com.monstar.books.booklist.dto.BookDetailDto" id="Detail">
		<result column="BIMG" property="bimg"/>
	</resultMap>
	
	<resultMap type="com.monstar.books.booklist.dto.BookListDto" id="List">
		<result column="BOOKNO" property="bookno"/>
		<result column="BTITLE" property="btitle"/>
		<result column="BPRICESELL" property="bpricesell"/>
		<result column="BPRICE" property="bprice"/>
		<result column="BDISCOUNT" property="bdiscount"/>
	</resultMap>
	
	<resultMap type="com.monstar.books.booklist.dto.BookCategoryDto" id="Category">
		<result column="BCATEGORY1" property="bcategory1"/>
		<result column="category" property="Category"/>
	</resultMap>
	
	<resultMap type="com.monstar.books.booklist.dto.MemberDto" id="Member">
		<result column="MEMBERNO" property="memberno"/>
	</resultMap>
	
	<resultMap type="com.monstar.books.cart.dto.CartDto" id="Cart">
		<result column="CARTNO" property="cartno"/>
		<result column="MEMBERNO" property="memberno"/>
		<result column="BOOKNO" property="bookno"/>
		<result column="CCOUNT" property="ccount"/>
		<result column="CNT" property="cnt"/>
		<collection property="list" resultMap="List"></collection>
		<collection property="detail" resultMap="Detail"></collection>
		<collection property="category" resultMap="Category"></collection>
		<collection property="member" resultMap="Member"></collection>
	</resultMap>

	<select id="cartList" parameterType="com.monstar.books.cart.dto.CartDto" resultMap="Cart">
		SELECT C.CARTNO,C.MEMBERNO,C.BOOKNO,C.CCOUNT,
		B.BTITLE,B.BPRICESELL,B.BDISCOUNT,B.BPRICE,
		D.BIMG,CT.BCATEGORY1, M.MEMBERNO
		FROM M_CART C, M_BOOK B, M_BOOK_DETAIL D, M_BOOK_BCATEGORY CT, M_MEMBER M
		WHERE C.BOOKNO=B.BOOKNO 
		AND C.BOOKNO=D.BOOKNO
		AND D.BCATEGORYNO=CT.BCATEGORYNO
		AND C.MEMBERNO=M.MEMBERNO
		AND C.MEMBERNO = #{param1}
	</select>
	
	<select id="cartCnt" resultType="Integer">
		SELECT COUNT(CARTNO) FROM M_CART WHERE MEMBERNO=#{param1}
	</select>
	
	<select id="cartTotCnt" resultType="Integer">
		SELECT SUM(CCOUNT) FROM M_CART WHERE MEMBERNO=#{param1}
	</select>
	
	<update id="cntUpdate">
		UPDATE M_CART SET CCOUNT=#{param1} 
			WHERE CARTNO=#{param2} AND MEMBERNO=#{param3}
	</update>
	
	<select id="totPrice" resultType="Integer">
		SELECT SUM(B.BPRICESELL*C.CCOUNT) FROM M_BOOK B,M_CART C,M_MEMBER M
		WHERE B.BOOKNO=C.BOOKNO 
		AND C.MEMBERNO = M.MEMBERNO
		AND C.MEMBERNO=#{param1}
	</select>
	
	<delete id="cartDelete">
		DELETE FROM M_CART WHERE CARTNO=#{param1} AND MEMBERNO=#{param2}
	</delete>

	<select id="cartSelList" parameterType="com.monstar.books.cart.dto.CartDto" resultMap="Cart">
		SELECT C.CARTNO,C.MEMBERNO,C.BOOKNO,C.CCOUNT,
		B.BTITLE,B.BPRICESELL,B.BDISCOUNT,B.BPRICE,
		D.BIMG,CT.BCATEGORY1, M.MEMBERNO
		FROM M_CART C, M_BOOK B, M_BOOK_DETAIL D, M_BOOK_BCATEGORY CT, M_MEMBER M
		WHERE C.BOOKNO=B.BOOKNO 
		AND C.BOOKNO=D.BOOKNO
		AND D.BCATEGORYNO=CT.BCATEGORYNO
		AND C.MEMBERNO=M.MEMBERNO
		AND C.MEMBERNO = #{param1}
		AND C.CARTNO IN 
		<foreach collection="param2" item="item" index="index" open="(" close=")" separator=",">
		#{item}
		</foreach>
	</select>
	
	<select id="seltTotPrice" resultType="Integer">
		SELECT SUM(B.BPRICESELL*C.CCOUNT) FROM M_BOOK B,M_CART C,M_MEMBER M
		WHERE B.BOOKNO=C.BOOKNO 
		AND C.MEMBERNO=M.MEMBERNO 
        AND C.MEMBERNO = #{param1}
        AND C.CARTNO IN 
        <foreach collection="param2" item="item" index="index" open="(" close=")" separator=",">
		#{item}
		</foreach>
	</select>

	<select id="cartSelCnt" resultType="Integer">
		SELECT SUM(CCOUNT) FROM M_CART 
		WHERE MEMBERNO=#{param1}
		AND CARTNO IN
		<foreach collection="param2" item="item" index="index" open="(" close=")" separator=",">
		#{item}
		</foreach>  
	</select>
	
	<select id="getMemberno" resultType="Integer">
		SELECT MEMBERNO FROM M_MEMBER WHERE MID=#{param1}
	</select>
	
	<!--========= 쿠폰 ========== -->
	
	<resultMap type="com.monstar.books.order.dto.CouponDto" id="Coupon">
		<result column="CPNO" property="cpno"/>
		<result column="CPNAME" property="cpname"/>
		<result column="CPDESCRIPTION" property="cpdescription"/>
		<result column="CPPRICE" property="cpprice"/>
		<result column="CPCREATED" property="cpcreated"/>
		<result column="CPVALID" property="cpvalid"/>
		<result column="CPSTATUS" property="cpstatus"/>
		<collection property="cpMember" resultMap="CpMember"></collection>
	</resultMap>
	
	<resultMap type="com.monstar.books.order.dto.CouponMemberDto" id="CpMember">
		<result column="CPNO" property="cpno"/>
		<result column="MEMBERNO" property="memberno"/>
		<result column="CPNO2" property="cpno2"/>
		<result column="CPRDATE" property="cprdate"/>
		<result column="CPVAILD" property="cpvaild"/>
		<result column="CPSTATUS" property="cpstatus"/>
	</resultMap>
	
	<select id="myCouponCheck" parameterType="com.monstar.books.order.dto.CouponDto" resultMap="Coupon">
		SELECT CM.MEMBERNO,CM.CPNO,CM.CPRDATE,CM.CPVALID,CM.CPSTATUS,
		C.CPNAME,C.CPDESCIPTION,C.CPPRICE
		FROM M_COUPON_MEMBER CM, M_COUPON C 
		WHERE CM.CPNO2 = C.CPNO
		AND CM.CPSTATUS = 'N'
		AND CM.CPVALID >= SYSDATE-1
		AND CM.MEMBERNO = #{param1}
	</select>
	
</mapper>