<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monstar.books.ex.dao.ExDao">

	<select id="list" resultType="com.monstar.books.ex.dto.ExDto">
		SELECT * FROM EX
	</select>
	
	<!-- <select id="detail">
	</select>
	
	<insert id="insert">
	</insert>
	
	<update id="update">
	</update>
	
	삭제는 업데이트로 deleted 칼럼 안의 내용을 no-> yes로 바꾸기 
	<update id="delete">
	</update> -->
	
</mapper>