<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 230824 / 리연 추가 -->
<mapper namespace="com.monstar.books.member.dao.MemberDao">

	<select id="list" resultType="com.monstar.books.member.dto.MemberDto">
		SELECT * FROM M_MEMBER ORDER BY MEMBERNO DESC
	</select>

	<!-- <select id="detail"> </select> <update id="update"> </update> -->

	<!-- 처음 가입시 사용자 -->
	<insert id="insert">
		INSERT INTO M_MEMBER
		VALUES(M_MEMBER_SEQ.NEXTVAL,#{mid}, #{mpw},
		#{mbirth},#{mname},#{memail},#{mtel},SYSDATE,NULL,#{mfavorite},'사용자','no')
	</insert>
	<!-- 삭제는 업데이트로 deleted 칼럼 안의 내용을 no-> yes로 바꾸기 -->
	<!-- <update id="delete" parameterType="int"> UPDATE EX SET deleted='yes' 
		WHERE num=#{param1} </update> -->
	
	<!-- 아이디 체크 -->
	<!-- 아이디 중복 체크 -->
	<select id="isExist" parameterType="string" resultType="string">
		SELECT mid
		FROM M_MEMBER
		WHERE mid=#{inputId}
	</select>
	
	<!-- 회원정보 가져오기 -->
	<select id="getData" parameterType="string" resultType="com.monstar.books.member.dto.MemberDto">
		SELECT MEMBERNO,MID,MPW,MBIRTH,MNAME,MEMAIL,MTEL,MREGDATE,MPROFILEIMG,MFAVORITE,MAUTHORITY
		FROM M_MEMBER
		WHERE mid=#{mid}
	</select>
	
	<!-- 아이디를 찾아보자.. -->
	<select id="idSearch" parameterType="com.monstar.books.member.dto.MemberDto"
	resultType="com.monstar.books.member.dto.MemberDto">
		SELECT MID, MREGDATE
		FROM M_MEMBER
		<choose>
			<when test="mname != null and memail !=null">
				WHERE mname=#{mname} AND memail=#{memail}
			</when>
			<when test="mname !=null and mtel !=null">
				WHERE mname=#{mname} AND mtel=#{mtel}
			</when>
		</choose>
	</select>
	
	
	<!-- 비밀번호를 찾아보자 -->
	<select id="pwdSearch" parameterType="com.monstar.books.member.dto.MemberDto"
	resultType="String">
	SELECT MPW FROM M_MEMBER
		<choose>
			<when test="mid !=null and mname != null and memail !=null">
			 WHERE mname=#{mname} AND memail=#{memail} AND mid=#{mid}
			</when>
			<when test="mid != null and mname !=null and mtel !=null">
			 WHERE mname=#{mname} AND mtel=#{mtel} AND mid=#{mid}
			</when>
		</choose>
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePwd" parameterType="com.monstar.books.member.dto.MemberDto">
		UPDATE M_MEMBER
		SET mpw=#{mnewpwd}
		WHERE mid=#{mid}
	</update>
</mapper>