<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monstar.books.mypage.dao.MyOrderDao">

	<!--주문목록 가져오기 -->
	<select id="getDeliverStatus"
		resultType="com.monstar.books.mypage.dto.MyOrderDto">
		SELECT *
		FROM (
		SELECT
		od.oregdate AS orderDate,
		o.ostatus AS orderStatus,
		bc.bcategory1 AS category1,
		od.ocount AS productCount,
		od.opricesell AS productPrice,
		(od.opricesell * od.ocount) AS totalAmount,
		b.btitle AS productName,
		m.mid AS memberId,
		m.mname AS memberName,
		o.orderno AS orderNO,
		bd.bimg AS productImage,
		ROW_NUMBER() OVER (ORDER BY od.oregdate DESC) AS row_num
		FROM m_order o
		JOIN m_order_detail od ON o.orderno = od.orderno
		JOIN m_book b ON od.bookno = b.bookno
		JOIN m_member m ON o.memberno = m.memberno
		JOIN m_book_detail bd ON od.bookno = bd.bookno
		JOIN m_book_category bc ON bd.bcategoryno = bc.bcategoryno
		WHERE m.mid = #{param3}
		) N
		WHERE row_num BETWEEN #{param1} AND #{param2}
	</select>

	<!-- 마이 페이지 주문/배송목록 페이징 -->
	<select id="getOrderCount" resultType="int">
		SELECT COUNT(*) FROM
		m_order WHERE memberno = (
		SELECT memberno FROM m_member WHERE mid =
		#{param1}
		)
	</select>

	<!-- 상품정보 가져오기 주문번호가 1번인 상품이 몇개인가 카운트 하여 BOOKCOUNT로 받아 BOOKCOUNT가 1이상일시 
		~~책 외 1권으로 표시가능하게 SQL 문작성 -->
	<select id="getorderDetail"
		resultType="com.monstar.books.mypage.dto.MyOrderDto">
		SELECT
		OD.ORDERNO AS orderNo,
		OD.OREGDATE AS orderDate,
		D.DADDRESS2 AS daddress2,
		D.DNAME AS dname,
		D.DTEL AS dtel, -- 추가된 부분
		(연락처)
		B.BTITLE AS productName,
		OD.OCOUNT AS productCount,
		B.BOOKNO AS
		bookNo,
		(
		SELECT COUNT(*)
		FROM M_ORDER_DETAIL MOD
		WHERE MOD.ORDERNO =
		OD.ORDERNO
		) AS bookCount
		FROM
		M_ORDER_DETAIL OD
		JOIN M_DELIVERY D ON
		OD.ORDERNO = D.ORDERNO
		JOIN M_BOOK B ON OD.BOOKNO = B.BOOKNO
		WHERE
		OD.ORDERNO = #{param1}
	</select>





	<!--결제정보 가져오기 주문번호, 총상품의 가격 sum(판매가 * 수량) , 결제금액, 결제방법, 쿠폰이름 쿠폰의 유효성에 따라 
		할인 금액을 선택 쿠폰이 유효하지 않으면 할인 금액 0 , 총삼품 가격에서 할인 금액 차감하여 최종결제 금액 계산 -->

	<select id="getpaymentDetail"
		resultType="com.monstar.books.mypage.dto.MyOrderDto">
		SELECT
		o.orderno,
		SUM(od.opricesell * od.ocount) AS
		totalAmount,
		o.ototalprice,
		o.opay AS paymentMethod,
		c.cpname AS
		couponName,
		CASE
		WHEN c.cpvalid >= SYSDATE THEN c.cpprice
		ELSE 0
		END AS
		applied_coupon_price,
		(SUM(od.opricesell * od.ocount) - CASE WHEN
		c.cpvalid >= SYSDATE THEN c.cpprice ELSE 0
		END) AS finalpay,
		d.daddress2,
		d.dtel
		FROM
		m_order o
		LEFT JOIN m_coupon c ON o.cpno = c.cpno
		JOIN m_order_detail od ON o.orderno = od.orderno
		LEFT JOIN m_delivery d
		ON o.orderno = d.orderno
		WHERE
		o.orderno = #{param1}
		GROUP BY
		o.orderno,
		o.ototalprice, o.opay, c.cpname, c.cpvalid, c.cpprice, d.daddress2,
		d.dtel
	</select>



	<!--주문 정보 가져오기 주문 상세(M_ORDER_DETAIL) 정보를 기준으로 도서 정보(M_BOOK)와 도서 상세 정보(M_BOOK_DETAIL)를 
		LEFT JOIN하여 가져오기 -->
	<select id="getproductDetail"
		resultType="com.monstar.books.mypage.dto.MyOrderDto">
		SELECT
		OD.BOOKNO AS orderNo,
		B.BTITLE AS productName,
		BD.BIMG
		AS productImage,
		B.BPRICESELL AS productPrice,
		OD.OCOUNT AS
		productCount,
		BC.BCATEGORY1 AS category1,
		BC.BCATEGORY2 AS category2,
		MO.OSTATUS AS orderStatus,
		D.DTEL AS dtel
		FROM M_ORDER_DETAIL OD
		LEFT
		JOIN M_BOOK B ON OD.BOOKNO = B.BOOKNO
		LEFT JOIN M_BOOK_DETAIL BD ON
		B.BOOKNO = BD.BOOKNO
		LEFT JOIN M_BOOK_CATEGORY BC ON BD.BCATEGORYNO =
		BC.BCATEGORYNO
		JOIN M_ORDER MO ON OD.ORDERNO = MO.ORDERNO
		JOIN
		M_DELIVERY D ON OD.ORDERNO = D.ORDERNO
		WHERE OD.ORDERNO = #{param1}
	</select>


</mapper>
