<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 230822 / [효슬] 마이페이지 추가 -->
<mapper namespace="com.monstar.books.mypage.dao.MyProfileDao">

	<select id="list" resultType="com.monstar.books.mypage.dto.MyProfileDto">
		SELECT MEMBERNO,MID,MNAME,MPROFILEIMG FROM M_MEMBER
		<!-- SELECT MEMBERNO,MID,MPW,MBIRTH,MNAME,MEMAIL,MTEL,MREGDATE,MPROFILEIMG,MFAVORITE,MAUTHORITY,DELETED 
		FROM M_MEMBER WHERE MEMBERNO=M_MEBER_SEQ.CURRVAL -->
	</select>
	
<!-- 	 <delete id="delete">
    	DELETE FROM M_MEMBER WHERE MEMBERNO=#{param1}
    </delete> -->
	 <delete id="delete">
    	DELETE FROM M_MEMBER WHERE MPROFILEIMG=#{param1}
    </delete>
    
	<update id="update">		
		<!-- UPDATE M_MEMBER SET MID=#{param2},MNAME=#{param3},
		MPROFILEIMG=#{param4} WHERE MEMBERNO=#{param1} -->
		
	<!-- 	UPDATE M_MEMBER 
		SET MID=#{param2},MNAME=#{param3},MPROFILEIMG=#{param4} 
		WHERE MEMBERNO=(SELECT M_MEBER_SEQ.CURRVAL FROM DUAL) -->
		
		UPDATE M_MEMBER 
		SET MPROFILEIMG=#{param2} WHERE MEMBERNO=#{param1}
		
    </update>
	
	
	
	<!-- <select id="detail">
	</select>
	
	<insert id="insert">
	</insert>
	
	<update id="update">
	</update>
	
	삭제는 업데이트로 deleted 칼럼 안의 내용을 no-> yes로 바꾸기 
	<update id="delete" parameterType="int">
		UPDATE EX
		SET deleted='yes'
		WHERE num=#{param1}
	</update> -->
	
</mapper>