<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 230822 / [효슬] 마이페이지 추가 -->
<!-- 230903 / [효슬] MyprofileDto(임시)에서 MemberDto로 통합 작업 -->
<mapper namespace="com.monstar.books.mypage.dao.MyProfileDao">

	<!-- resultmap 타입으로 변경 -->
	<resultMap type="com.monstar.books.member.dto.MemberDto"
		id="Member">
		<result column="MEMBERNO" property="memberno" />
		<result column="MID" property="mid" />
		<result column="MPW" property="mpw" />
		<result column="MBIRTH" property="mbirth" />
		<result column="MNAME" property="mname" />
		<result column="MEMAIL" property="memail" />
		<result column="MTEL" property="mtel" />
		<result column="MREGDATE" property="mregdate" />
		<result column="MPROFILEIMG" property="mprofileimg" />
		<result column="MFAVORITE" property="mfavorite" />
		<result column="MAUTHORITY" property="mauthority" />
		<result column="MDELETED" property="mdeleted" />
	</resultMap>

	<!-- 프로필 메인 -->
	<select id="list" parameterType="com.monstar.books.member.dto.MemberDto" resultMap="Member">
		SELECT MEMBERNO,MID,MNAME,MPROFILEIMG FROM M_MEMBER WHERE MID = #{param1}
	</select>
	
	<!-- 프로필 뷰 -->
   	<select id="myprofileview" parameterType="com.monstar.books.member.dto.MemberDto" resultMap="Member">
	SELECT MEMBERNO,MID,MPW,MBIRTH,MNAME,MEMAIL,MTEL,MREGDATE,
	MPROFILEIMG,MFAVORITE,MAUTHORITY,DELETED FROM M_MEMBER WHERE MID=#{param1}
	</select>
	
	<!-- 프로필 이미지 삭제 기능 -->
	 <update id="delete">
	 	UPDATE M_MEMBER SET DELETED='NO', MPROFILEIMG=NULL WHERE MID=#{param1}
    </update>
    
    <!-- 프로필 이미지 수정 기능 -->
	<update id="profileupdate">
		UPDATE M_MEMBER
		SET MPROFILEIMG=#{param2} WHERE MID=#{param1}
		</update>


	<!-- <select id="detail">
	</select>
	
	<insert id="insert">
	</insert>
	
	<update id="update">
	</update>
	
	삭제는 업데이트로 deleted 칼럼 안의 내용을 no-> yes로 바꾸기 
	<update id="delete" parameterType="int">
		UPDATE EX
		SET deleted='yes'
		WHERE num=#{param1}
	</update> -->
	
</mapper>