<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monstar.books.product.dao.ProductDao">
	
	<resultMap type="com.monstar.books.product.dto.BookCategoryDto" id="BookCategoryDto">
		<result column = "BCATEGORYNO" property="bcategoryno" />
		<result column = "BCATEGORY1" property="bcategory1" />
		<result column = "BCATEGORY2" property="bcategory2" />			
	</resultMap>
	<resultMap type="com.monstar.books.product.dto.BookDetailDto" id="BookDetailDto">
		<result column = "BOOKNO" property="bookno" />
		<result column = "BCATEGORYNO" property="bcategoryno" />
		<result column = "BIMG" property="bimg" />
		<result column = "BIMGDETAIL" property="bimgdetail" />
		<result column = "BDESCRIPTION" property="bdescription" />
		<result column = "BPAGE" property="bpage" />
		<result column = "BSIZE" property="bsize" />
		<result column = "BADGE" property="badge" />
	</resultMap>
	<resultMap type="com.monstar.books.product.dto.BookDto" id="BookDto">
		<result column = "BOOKNO" property="bookno" />
		<result column = "BISBN" property="bisbn" />
		<result column = "BTITLE" property="btitle" />
		<result column = "BSUBTITLE" property="bsubtitle" />
		<result column = "BPUBLISHER" property="bpublisher" />
		<result column = "BWRITER" property="bwriter" />
		<result column = "BTRANSLATOR" property="btranslator" />
		<result column = "BPDATE" property="bpdate" />
		<result column = "BPRICE" property="bprice" />
		<result column = "BPRICESELL" property="bpricesell" />
		<result column = "BDISCOUNT" property="bdiscount" />
		<result column = "BSTATUS" property="bstatus" />
		<result column = "BCDATE" property="bcdate" />
		<result column = "BMDATE" property="bmdate" />
		<result column = "BSTOCK" property="bstock" />
		<collection property="bookDetailDto" resultMap="BookDetailDto" ></collection>
		<collection property="bookCategoryDto" resultMap="BookCategoryDto" ></collection>
	</resultMap>
	
	<!-- 페이징 전 -->
	<!-- <select id="list" parameterType="com.monstar.books.product.dto.BookDto" resultMap="BookDto">
		SELECT B.BOOKNO, BD.BIMG, B.BTITLE, B.BPUBLISHER, B.BWRITER, B.BPRICE, B.BSTATUS, B.BCDATE, B.BMDATE, B.BSTOCK
		FROM M_BOOK B INNER JOIN M_BOOK_DETAIL BD
		ON B.BOOKNO = BD.BOOKNO
		ORDER BY BOOKNO DESC
	</select> -->
	
	<!-- 검색을 위한 준비 -->
	<sql id="includeList">
		<choose>
			<when test="param4==1">
				WHERE BISBN LIKE '%'|| #{param3} || '%'
			</when>
			<when test="param4==2">
				WHERE BTITLE LIKE '%'|| #{param3} || '%'
			</when>
			<when test="param4==3">
				WHERE BISBN LIKE '%'|| #{param3} || '%' OR BTITLE LIKE '%'|| #{param3} || '%'
			</when>
			<otherwise>
			
			</otherwise>
		</choose>
	</sql>
			
	<!-- 페이징 후 + 검색쿼리 -->
	<select id="list" parameterType="com.monstar.books.product.dto.BookDto" resultMap="BookDto">
		SELECT *
    	FROM
        	(SELECT ROWNUM NUM, N.*
        	FROM
            	(SELECT B.BOOKNO, BD.BIMG, B.BTITLE, B.BPUBLISHER, B.BWRITER, B.BPRICE,
                	B.BSTATUS, B.BCDATE, B.BMDATE, B.BSTOCK, B.BISBN
           		FROM M_BOOK B INNER JOIN M_BOOK_DETAIL BD
            	ON B.BOOKNO = BD.BOOKNO
            	<include refid="includeList" />
            	ORDER BY BOOKNO DESC) N)
    	WHERE NUM BETWEEN #{param1} AND #{param2}
	</select>
		
	<!-- 검색 조건에 따른 목록의 총 갯수 -->
	<select id="selectBoardTotCount1" resultType="Integer">
    	SELECT COUNT(*) FROM M_BOOK WHERE BISBN LIKE '%'|| #{param1} || '%'
    </select>
    <select id="selectBoardTotCount2" resultType="Integer">
    	SELECT COUNT(*) FROM M_BOOK WHERE BTITLE LIKE '%'|| #{param1} || '%'
    </select>
    <select id="selectBoardTotCount3" resultType="Integer">
    	SELECT COUNT(*) FROM M_BOOK WHERE BISBN LIKE '%'|| #{param1} || '%' OR BTITLE LIKE '%'|| #{param1} || '%'
    </select>
    <select id="selectBoardTotCount4" resultType="Integer">
    	SELECT COUNT(*) FROM M_BOOK
    </select>
	
	<!-- "도서번호" 검색 + 리스트 -->
	<!-- <select id="searchByBookNo" parameterType="com.monstar.books.product.dto.BookDto" resultMap="BookDto">
		SELECT *
		FROM
    		(SELECT ROWNUM NUM, N.*
    		FROM
       		 (SELECT B.BOOKNO, BD.BIMG, B.BTITLE, B.BPUBLISHER, B.BWRITER, B.BPRICE,
           		 B.BSTATUS, B.BCDATE, B.BMDATE, B.BSTOCK
		        FROM M_BOOK B INNER JOIN M_BOOK_DETAIL BD
		        ON B.BOOKNO = BD.BOOKNO
		        WHERE (B.BOOKNO LIKE '%' || #{param1} || '%')
		        ORDER BY BOOKNO DESC) N)
		WHERE NUM BETWEEN #{param2} AND #{param3}
	</select> -->
	
	<!-- "도서제목" 검색 + 리스트 -->
	<!-- <select id="searchByBookTitle" parameterType="com.monstar.books.product.dto.BookDto" resultMap="BookDto">
		SELECT *
		FROM
    		(SELECT ROWNUM NUM, N.*
    		FROM
       		 (SELECT B.BOOKNO, BD.BIMG, B.BTITLE, B.BPUBLISHER, B.BWRITER, B.BPRICE,
           		 B.BSTATUS, B.BCDATE, B.BMDATE, B.BSTOCK
		        FROM M_BOOK B INNER JOIN M_BOOK_DETAIL BD
		        ON B.BOOKNO = BD.BOOKNO
		        WHERE (B.BTITLE LIKE '%' || #{param1} || '%')
		        ORDER BY BOOKNO DESC) N)
		WHERE NUM BETWEEN #{param2} AND #{param3}
	</select> -->
	<!-- "조건없이" 검색 + 리스트 -->
	<!-- <select id="searchByBookTitle" parameterType="com.monstar.books.product.dto.BookDto" resultMap="BookDto">
		SELECT *
		FROM
    		(SELECT ROWNUM NUM, N.*
    		FROM
       		 (SELECT B.BOOKNO, BD.BIMG, B.BTITLE, B.BPUBLISHER, B.BWRITER, B.BPRICE,
           		 B.BSTATUS, B.BCDATE, B.BMDATE, B.BSTOCK
		        FROM M_BOOK B INNER JOIN M_BOOK_DETAIL BD
		        ON B.BOOKNO = BD.BOOKNO
		        WHERE (B.BTITLE LIKE '%' || #{param1} || '%')
		        ORDER BY BOOKNO DESC) N)
		WHERE NUM BETWEEN #{param2} AND #{param3}
	</select> -->
		
	<!-- 도서상세 진입 -->
	<select id="detail" parameterType="com.monstar.books.product.dto.BookDto" resultMap="BookDto">
		SELECT B.BOOKNO, B.BISBN, B.BTITLE, B.BSUBTITLE, B.BPUBLISHER, B.BWRITER, B.BTRANSLATOR, B.BPDATE, 
			B.BPRICE, B.BPRICESELL, B.BDISCOUNT, B.BSTATUS, B.BCDATE, B.BMDATE, B.BSTOCK, 
    		BD.BOOKNO, BD.BCATEGORYNO, BD.BIMG, BD.BIMGDETAIL, BD.BDESCRIPTION, BD.BPAGE, BD.BSIZE, BD.BADGE, 
    		BC.BCATEGORYNO, BC.BCATEGORY1, BC.BCATEGORY2
		FROM M_BOOK B INNER JOIN M_BOOK_DETAIL BD
		ON B.BOOKNO = BD.BOOKNO
		JOIN M_BOOK_CATEGORY BC
		ON BD.BCATEGORYNO = BC.BCATEGORYNO
		WHERE B.BOOKNO = #{param1}
	</select>
	
	<!-- 도서카테고리 정보 리스트 불러오기 -->
	<select id="selectCategory" resultType="com.monstar.books.product.dto.BookCategoryDto">
		SELECT * FROM M_BOOK_CATEGORY
	</select>
	
	<select id="selectedCategory" resultType="com.monstar.books.product.dto.BookCategoryDto">
		SELECT BCATEGORYNO FROM M_BOOK_CATEGORY
	</select>
		
	<!-- <insert id="insertBook">
		INSERT INTO M_BOOK(BOOKNO, BISBN, BTITLE, BSUBTITLE, BPUBLISHER, BWRITER, BTRANSLATOR,
			BPDATE, BPRICE, BPRICESELL, BDISCOUNT, BSTATUS, BCDATE, BMDATE, BSTOCK)
		VALUES(M_BOOK_SEQ.NEXTVAL, #{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6},
		#{param7}, #{param8}, #{param9}, #{param10}, #{param11}, SYSDATE, NULL, #{param12})
	</insert> -->	
	
	<insert id="insertBook">
		INSERT INTO M_BOOK(BOOKNO, BISBN, BTITLE, BSUBTITLE, BPUBLISHER, BWRITER, BTRANSLATOR,
			BPDATE, BPRICE, BPRICESELL, BDISCOUNT, BSTATUS, BCDATE, BMDATE, BSTOCK)
		VALUES(M_BOOK_SEQ.NEXTVAL, #{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6},
		#{param7}, #{param8}, #{param9}, #{param10}, #{param11}, SYSDATE, NULL, #{param12})
	</insert>
	
<!-- 	<insert id="insertBookDetail">
 		INSERT INTO M_BOOK_DETAIL(BOOKNO, BCATEGORYNO, BIMG, BIMGDETAIL, BDESCRIPTION,
        	BPAGE, BSIZE, BADGE)
   	 	VALUES(M_BOOK_DETAIL_SEQ.NEXTVAL, #{param1}, #{param2}, #{param3}, #{param4}, 
   	 	#{param5}, #{param6}, #{param7})
	</insert> -->
		
 	<insert id="insertBookDetail">
 		<selectKey keyProperty="bookno" order="BEFORE" resultType="Integer">
 			SELECT LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'M_BOOK_SEQ'
 		</selectKey>
		INSERT INTO M_BOOK_DETAIL(BOOKNO, BCATEGORYNO, BIMG, BIMGDETAIL, BDESCRIPTION,
        	BPAGE, BSIZE, BADGE)
   	 	VALUES(#{bookno}-1, #{param1}, #{param2}, #{param3}, #{param4}, 
   	 	#{param5}, #{param6}, #{param7})
	</insert>
	
	<update id="updateBook">
		UPDATE M_BOOK
		SET BISBN=#{param2}, BTITLE=#{param3}, BSUBTITLE=#{param4}, BPUBLISHER=#{param5},
			BWRITER=#{param6}, BTRANSLATOR=#{param7}, BPDATE=#{param8}, BPRICE=#{param9},
			BPRICESELL=#{param10}, BDISCOUNT=#{param11}, BSTATUS=#{param12}, 
			BMDATE=SYSDATE, BSTOCK=#{param13}
		WHERE BOOKNO=#{param1}
	</update>
	
	<!-- <update id="updateBookDetail">
		UPDATE M_BOOK_DETAIL
		SET BCATEGORYNO=#{param2}, BIMG=#{param3}, BIMGDETAIL=#{param4}, 
			BDESCRIPTION=#{param5}, BPAGE=#{param6}, BSIZE=#{param7}, BADGE=#{param8}
		WHERE BOOKNO=#{param1}
	</update> -->
	
	<update id="updateBookDetail">
		UPDATE M_BOOK_DETAIL
		SET BCATEGORYNO=#{param2}, BDESCRIPTION=#{param3}, BPAGE=#{param4}, 
			BSIZE=#{param5}, BADGE=#{param6}
		WHERE BOOKNO=#{param1}
	</update>
	
	<update id="updateBookDetailImg">
		UPDATE M_BOOK_DETAIL
		SET BIMG=#{param2}, BIMGDETAIL=#{param3}
		WHERE BOOKNO=#{param1}
	</update>
	
	<select id="selectBoardTotCount" resultType="Integer">
    	SELECT COUNT(*) FROM M_BOOK
    </select>
	
	
	
	
	
	
	
	<!-- 삭제는 업데이트로 deleted 칼럼 안의 내용을 no-> yes로 바꾸기  -->
	<!-- <update id="delete" parameterType="int">
		UPDATE EX
		SET deleted='yes'
		WHERE num=#{param1}
	</update> -->
	
</mapper>