.admin-container {
    width: 100%;
    min-width: 1200px;
    overflow: auto;
    height: max-content;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 20px;
}
.admin-container .select-group{
	width:100%;
	height:50px;
}
.admin-sidebar h1 {
    color: var(--color-white);
}

.admin-content-wrap {
    margin-left: 230px;
    width: calc(100% - 230px);
}

.admin-content-wrap main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 0 0 0 0;
    /* background-color: aliceblue; */
}

.admin-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 230px;
    background-color: #2d2d2d;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
}

.admin-logo {
    padding: 30px 40px;
    border-bottom: 0.5px solid #414141;
}

.admin-sidebar h1 {
    width: 100%;
    height: 40px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imgs/logo3.png);

}

.admin-menu-list li {
    width: 100%;
}

.admin-menu-list>li.active>a,
.admin-menu-list>li:hover>a {
    background-color: rgba(0, 0, 0, 0.15);
}

.admin-menu-list li.active a,
.admin-menu-list li.active span,
.admin-menu-list li.active i {
    color: var(--color-white);
}
.admin-sidebar li>a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-weight: var(--weight-bold);
    color: var(--color-white);
    line-height: 2em;
    font-size: var(--font-small);
    letter-spacing: 0.2em;
}

.admin-sidebar li i {
    width: 20px;
}

.admin-sidebar li span {
    margin-left: 20px;
}

.admin-sidebar li>a,
.admin-sidebar li>a span,
.admin-sidebar li>a i {
    color: rgba(255, 255, 255, 0.35);
}

.admin-menu-list li.accordion-button>a {
    position: relative;
}

.admin-menu-list li.accordion-button>a::before {
    content: var(--icon-content, '\f0d7');
    font-family: FontAwesome;
    font-size: 10px;
    position: absolute;
    right: 10px;
    transition: all 0.3s;
}
.admin-menu-list li.accordion-button.active>a::before {
    content: '\f0d8';
}
.admin-submenu-list {
    display: none;
}

.admin-submenu-list.active {
    display: block;
}

.admin-submenu-list li.active,
.admin-submenu-list li:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.admin-submenu-list li.active a {
    color: var(--color-white);
}

.admin-submenu-list li a {
    font-weight: var(--weight-regular);
    line-height: 1em;
    padding: 10px 0 10px 68px;
    position: relative;
}

.admin-container table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    border-radius: 8px;
    overflow: hidden;
    border-collapse: collapse;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10);
    border:none;
    padding: 10px;
    background: var(--color-white);
    color: var(--color-black);
}
.admin-container tr:hover{
    background-color: #fbfbfb;
}
.admin-container td,
.admin-container th {
    padding: 20px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: var(--font-small);
    border: 1px solid #f7f7f7;
}
td img{
    width: 100%;
}

.admin-table {
	width: 100%;
}

.admin-table table {
	margin-bottom: 20px;
}

.admin-table table td {
	text-align: left;
	padding: 0 30px;
}

.admin-table .favorite-box {
	overflow-x: auto;
}

.admin-btn-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.admin-btn-wrap .btn-wrap:first-child{
	width:200px;
}
.admin-btn-wrap .btn-wrap:last-child{
	width:100px;
}


/* 카운트 */
.admin-count{
	width:100%;
	text-align:left;
	padding:10px;
	letter-spacing: -1px;
}
.admin-count strong{
	color:var(--color-main);
}
/*검색창*/
form.admin{
	width:100%;
	position: relative;
}
.search-wrap{
	position:absolute;
	left:0;
	top:15px;
	width: 350px;
}
.search-box{
	display: flex;
	width:100%;
	border-radius: 50px;
	background: #fff;
	justify-content: space-between;
	align-content: center;
	padding:0px 20px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10);
	
}
.search-box input[type="text"]{
	border:none;
	margin:0;
	font-size: var(--font-small);
}
.search-box .search-icon{
	background:transparent;
}