#wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#wrap main {
    width: 100%;
    padding: 0;
    margin-top: 20px;
    letter-spacing: -0.3px;
}

#wrap h1 {
    width: 150px;
    height: auto;
}

#wrap h1 img {
    width: 100%;
}

form {
    width: 340px;
    text-align: center;
    display: inline-block;
}
label {
    display: block;
    width: 100%;
    font-size: var(--font-small);
    line-height: 16px;
    margin-top: 5px;
    text-align: left;
    font-weight: var(--weight-bold);
}

input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 12px;
    border-radius: 5px;
    margin-bottom: 12px;
    font-size: var(--font-regular);
    border: 1px solid #d9d9d9;
    transition: border 300ms ease-in-out;
    color: #767676;
}
input:read-only {
    background: var(--color-gray);
}
.login {
    text-align: left;
}

.login input[type="text"] {
    border-radius: 5px 5px 0 0;
}

.login input[type="password"] {
    position: relative;
    top: -12px;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    margin-bottom: 0;
}

input:focus,
input:hover,
input:active {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--color-main);
}

input[type="submit"] {
    background-color: var(--color-main);
    font-weight: var(--weight-bold);
    color: var(--color-white);
}

input[type="button"],button {
    background-color: var(--color-white);
    font-weight: var(--weight-bold);
    color: var(--color-main);
    border-color: var(--color-main);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #dadada;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
input[type="checkbox"]+label::after {
    content: '\f00c';
    font-family:FontAwesome;
    color: #dadada;
    font-size: 10px;
    text-align: center;
    position: absolute;
    left: 5px;
    top: 2px;
}
input[type="checkbox"]:checked+label{
    background-color: var(--color-main-dark);
    border: none;
}
input[type="checkbox"]:checked+label::after {
    left: 6px;
    top: 3px;
    color: var(--color-white);
}

.login input[type="password"]:hover,
.login input[type="password"]:focus,
.login input[type="password"]:active {
    border-top: 1px solid var(--color-main);
}

input[type="file"] {
    padding-top: 10px;
}

/* 유효성 체크 */
.form-sapn{
	display: block;
    color: var(--color-main);
    font-size: 12px;
    padding: 0 0 0 5px;
    margin-bottom: 5px;
    position:relative;
    top:-8px;
}
.form-sapn.none{
	display:none;
}
.form-sapn::before{
	content: "▶";
	padding-right:3px;
}

.valid-check {
    display: inline-block;
    color: var(--color-main);
    font-size: var(--font-small);
    padding: 0 0 0 5px;
    margin-bottom: 10px;
}
.login-text-wrap{
    margin-top:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-save span{
    position: relative;
    top: -5px;
    color: #121212;
}
.login-text-wrap a{
    color: #767676;
    font-weight: var(--weight-regular);
    margin-right: 3px;
}

/* 소셜 로그인 */
.social-wrap{
    width: 340px;
}

.social-wrap .divider{
    display: flex;
    margin-top: 32px;
    margin-bottom: 16px;
    width: 100%;
    height: 20px;
}
.social-wrap .divider .text {
    width: 72px;
    height: 20px;
    text-align: center;
    color: #898989;
    font-size: var(--font-small);
}

.social-wrap .divider .line {
    height: 10px;
    flex: 1 1;
    margin-top: 9px;
    border-top: 1px solid #e6e6e6;
}

.sns-login-box ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sns-login-box ul li button{
    width: 40px;
    height: 40px;
}
.sns-login-box ul li button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tab-wrap{
    width: 340px;
    margin: 0 auto;
}
.tab-list{
    display: flex;
}
.tab-list li{
    flex: 1 1;
    height: 100%;
    border: 1px solid var(--color-main);
    cursor: pointer;
    font-size: var( --font-small);
    padding: 10px 0;
    color: #898989;
}
.tab-list li.active{
    font-weight: var(--weight-bold);
    background-color: var(--color-main);
    color: var(--color-white);
}
.tab-list li:first-child{
    border-right: none;
}
.tab-content {
    display: none;
}
.tab-content.active{
    display: block;
}
.form-small{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.form-small input[type="button"]{
    font-size: var(--font-micro);
    width: 30%;
}

.accordion-wrap {
    width: 340px;
    margin: 20px auto;
}
.accordion-wrap form{
    width: 100%;
}
.accordion-wrap li{
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}
.accordion-wrap li input{
}
.accordion-wrap li .accordion-item{
    display: none;
    padding: 20px;
}
.accordion-wrap li.active{
    background-color: var(--color-white);
}
.accordion-wrap li.active .accordion-item{
    display: block;
}
.accordion-wrap button{
    width: 100%;
    text-align: left;
    padding: 20px;
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    position: relative;
}
.accordion-wrap button::after{
    content: '\f077';
    font-family:FontAwesome;
    display: block;
    position: absolute;
    right: 20px;
    top: 22px;
    transition: all 0.3s;
    transform: rotate(-180deg);
}
.accordion-wrap li.active button::after{
    transform: rotate(0deg);
}

/* 회원가입 선호장르 */
.favorite-box{
	margin-bottom:20px;
}

.favorite-box input[type="checkbox"]+label {
    display: inline-block;
    text-align:center;
    width: auto;
    height:30px;
    line-height:1.9em;
    padding: 0 10px 0 20px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    color: var(--color-main-dark);
	border: 1px solid var(--color-main-dark);
}
.favorite-box input[type="checkbox"]+label::after {
    content: '#';
    font-family:FontAwesome;
    color: var(--color-main-dark);
    left: 8px;
    top: 0px;
}

.favorite-box input[type="checkbox"]:checked+label{
    color:var(--color-white);
}
.favorite-box input[type="checkbox"]:checked+label::after {
    color:var(--color-white);
}

.join{
	padding-bottom: 50px;
}

/* 회원가입 스텝 */
.step-list{
	width:100%;
	text-align:center;
}
.step-list ul{
	width:340px;
	text-align: right;
	margin: 0 auto;
}
.step-list ul li{
	color: #f0f0f0;
	display: inline-block;
	position:relative;
	margin-right:30px;
}

.step-list ul li::before{
	text-align:center;
	content:'\f0da';
	display: inline-block;
	width:15px;
	height:15px;
	padding:2px 2px 0 0;
	margin-right:10px;
	box-sizing: border-box;
	font-family:FontAwesome;
	color: var(--color-white);
	font-size:3px;
    background: #f0f0f0;
    border-radius: 50%;
    position: absolute;
    top:3px;
    right:-35px;
}
.step-list ul li.active{
	color: var(--color-main-dark);
	font-weight: var(--weight-bold);
}
.step-list ul li.active::before{
    background: var(--color-main-dark);
}

.step-list ul li:last-child{
	margin-right:0;
}
.step-list ul li:last-child::before{
	content:none;
}

/* 회원가입 약관동의  */
.terms{
    margin-top: 30px;
}
.terms > div{
	display:flex;
	justify-content: space-between;
	text-align:left;
    gap: 10px;
}
.terms > div input[type="checkbox"]+label{
    top: -4px;
}
.term-all-box{
    border: 1px solid var(--color-gray);
    border: solid 1px #ebebeb;
    border-bottom-color: #d8d8d8;
    border-right-color: #d8d8d8;
    border-radius: 3px;
    padding: 20px 10px;
}
.term-item-box{
    border-bottom: 1px solid #ebebeb;
    padding: 15px 10px;
}

.terms > div > div{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.term-item-box button{
    font-size: 12px;
    color: var(--color-main);
    padding-top: 3px;
}

.terms input[type="submit"]{
    margin-top:30px;
}

/* 회원가입 성공 */
.join-success{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.join-success i{
    color: var(--color-main);
    font-size: 60px;
}
.join-success strong{
    color: var(--color-main);
}
.join-success h6{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    line-height: 1.5em;
}
.btn-wrap{
    width: 350px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.btn-wrap button{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    border-radius: 5px;
    font-size: var(--font-regular);
    border: 1px solid var(--color-main);
    transition: border 300ms ease-in-out;
}
.btn-wrap button:first-child{
    background-color: var(--color-main);
    color: var(--color-white);
    border: none;
}

.table-wrap{
	
}

table {
	border-collapse: collapse;
	background-color: white;
	border: 2px solid #000d82;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
	padding: 12px 20px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

td {
	border-right: 1px solid #ddd;
}

td:last-child {
	border-right: none;
}

th {
	background-color: #000d82;
	color: white;
}

tr:hover {
	background-color: #f2f2f2;
}