@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url(./header.css);
@import url(./footer.css);
@import url(./main.css);
@import url(./common.css);
@import url(./list.css);
@import url(./admin.css);
@import url(./mypage.css);

/* Global*/
:root {
    /* Color */
    --color-white: #fefefe;
    --color-gray: #e7e7e7;
    --color-black: #0b0b0b;
    --color-main: #000d82;
    --color-main-dark: #00084f;
    --color-sub: #f5dd00;

    /* Font size */
    --font-large: 32px;
    --font-medium: 24px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 10px;

    /* Font weight */
    --weight-bold: 900;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --desktop-size: 1200px;
}

/* Universal tags */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'NanumSquare', sans-serif;
    color: var(--color-black);
    outline: none;
    border: none;
    background-color: transparent;
}

button,
input {
    cursor: pointer;
}

pre {
    white-space: pre-wrap;
}

a:hover,
button:hover {
    opacity: 0.5;
}

body {
    width: 100%;
}

.container {
    width: 100%;
}
.height0{
	height:auto;
}
.bn {
    border: none !important;
}
.mn{
	margin:0!important;
}

/* 정렬 */
.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.text-back {
    padding: 5px 10px;
    background: var(--color-main);
    color: var(--color-white);
    border-radius: 5px;
    font-weight: var(--weight-bold);
    line-height: 2em;
}

.aqua {
    background: rgb(181, 227, 242) !important;
}

.red {
    color: #c30202;
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w100{
	width:100px;
}
.space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 라디오 버튼 */
label.radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 0;
    width: auto;
    cursor: pointer;
}

input[type='radio'] {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid #999;
    appearance: none;
    position: relative;
    background-color: var(--color-white);
    padding: 0;
    margin: 0;
}

input[type='radio']:checked {
    border: none;
    background-color: var(--color-main);
}

input[type='radio']:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-white);
}

/* select 박스 */
.select-group{
    position: relative;
    width: 300px;
    height: 40px;
}
.form-select {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    transition:all 200ms ease-in-out;
    appearance: none;
    color: #d9d9d9;
}
.select-group:hover .form-select{
    border-color: var(--color-main);
    color: var(--color-main);
}
.select-group:hover .form-select{
    color: var(--color-main);
}
.form-select.star{
    font-size: 20px;
    letter-spacing: 4px;
}
.select-group::after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #d9d9d9;
    padding: 8px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.select-group:hover::after {
    color: var(--color-main);
}
/* 화살표 */
.arrow-up {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #595959;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: 0;
    transition: all 300ms ease-in;
    pointer-events: none;
    font-size: 20px;
    font-weight: 300;
    z-index: 999;
}

.arrow-up::before {
    content: "\f062";
    font-family: "FontAwesome";
    font-weight: 900;
}

.arrow-up.visible {
    pointer-events: auto;
    opacity: 1;
}

/* 메인 */
main {
    width: var(--desktop-size);
    text-align: center;
    margin: 0 auto;
    padding: 300px 0 100px 0;
    min-height: 70vh;
}

main.main {
    padding-top: 216px;
}

/* main article {} */

/* modal 창 기본 스타일 */
#myCouponModal .modal-content-wrap {
    width: 500px;
}

#myCouponModal .modal-content-wrap table {
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content-wrap {
    width: 300px;
    background-color: var(--color-white);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.terms-modal .modal-content-wrap {
    width: 500px;
}

.coupon-modal .modal-content-wrap {
    width: 1000px;
}

.coupon-modal .modal-title {
    position: relative;
}

.coupon-modal .modal-title .closeModalBtn {
    position: absolute;
    top: 53%;
    right: 20px;
    transform: translateY(-50%);
    width: min-content;
    height: min-content;
    padding: 0;
    font-size: 30px;
}

.coupon-modal .modal-title .closeModalBtn i {
    color: var(--color-white);
}

.modal-title {
    padding: 20px;
    background-color: var(--color-main-dark);

}

.modal-title h3 {
    color: var(--color-white);
}

.modal-content {
    overflow: auto;
    padding: 30px;
}

.modal-content-text {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-content-text pre {
    white-space: pre-wrap;
}

.modal-content-text p {
    font-size: 20px;
    font-weight: var(--weight-bold);
    text-align: center;
    padding: 20px 0;
}

.modal-content-text::-webkit-scrollbar {
    width: 5px;
}

.modal-content-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-main);
}

.modal-content-text::-webkit-scrollbar-track {
    background-color: #d2d6ff;
    border-radius: 10px;
}

.closeModalBtn {
    width: 100%;
    padding: 15px;
    background-color: var(--color-main-dark);
    border-radius: 5px;
    font-size: var(--font-regular);
    color: var(--color-white);
    font-weight: var(--weight-bold);

}


/* 페이징 */
.pagination-wrap {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #e1e4e8;
}

.pagination a,
.pagination button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px 12px;
    font-size: 13px;
    font-weight: 500;
    color: var(--color-main-dark);
    text-decoration: none;
}

.pagination>a:first-child {
    border-radius: 3px 0 0 3px;
}

.pagination>a:last-child {
    border-radius: 0 3px 3px 0;
}

.pagination ol button {
    background-color: #fff;
    border: none;
}

.pagination ol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
}

.pagination li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    border-right: 1px solid #e1e4e8;
    font-size: 13px;
    font-weight: 500;
    color: var(--color-main-dark);
}

.pagination li:last-child {
    border-right: none;
}

.pagination li.disabled {
    background-color: #fafbfc;
}

.pagination li.disabled a i {
    color: #d1d5da;
}

.pagination li.current-page {
    border-color: var(--color-main-dark);
    background-color: var(--color-main-dark);
}

.pagination li.current-page a {
    color: #fff;
}

.pagination *[disabled],
.pagination .disabled {
    color: #d1d5da;
    background-color: #fafbfc;
}

/*warning*/
.warning {
    font-size: var(--font-medium);
    position: relative;
    padding-top: 80px;
    margin-top: 20px;
}

.warning::before {
    content: "\f071";
    font-family: "FontAwesome";
    font-size: 60px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--color-main);
}